# Auto detect text files and perform LF normalization
* text=auto

# Unity attribute macros must be defined at repository root.
[attr]lfs               filter=lfs diff=lfs merge=lfs -text
[attr]unity-json        eol=lf linguist-language=json
[attr]unity-yaml        merge=unityyamlmerge eol=lf linguist-language=yaml
